@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@300&family=Titillium+Web:wght@300&display=swap');

body{
    background-color: rgb(42, 42, 42);
}

*{
    margin: 0;
    padding: 0;

}

nav{
    font-family: 'Rubik', sans-serif;
}

:is(.spotify, .home, .search, .book )  img{
    width: 1.5rem;
}



aside{
    float: left;
    width: 30vw;
}

main{
    float: right;
}
