@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@300&family=Titillium+Web:wght@300&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{

}